<footer>
  <div class="website_footer">
    <div class="footer_image"><img class="unit9_width" src="/assets/admin/prelaunch/CusXP-Logo-for-website.png">
    </div>
    <div class="footer_note">
      <div class="font12-light copyright_note">© CusXP Pte Ltd All Rights Reserved.</div>
      <div class="font12-light footer_links">
        <a href="#">Terms Of Use</a> |
        <a href="#">Contact</a>
      </div>
    </div>
  </div>
</footer>